.row{margin-left:0px !important;margin-right:0px !important;}

.taskHeadingBox{
	background:#4696e5;
	height:max-content;color:#fff;
	padding-bottom:2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
      /*  background-image: linear-gradient(0deg,#fff 50%,#4696e5);*/
}
.evntdesc{	
	background:white;
	border:1px solid #d2d6de;
	height:max-content;
	padding:7px;
	margin-bottom:5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
   
	
}
#evntDtls .evntdesc .closeon{
    color: white;
    border-radius: 3px;
    padding: 1px 6px;
    border: 1px solid #080808;
    background: #080808;
    cursor: pointer;}
 #evntDtls .evntdesc .editon{
    color: white;
    padding: 1px 4px;
    border-radius: 3px;
    border: 1px solid #4696e5;
    background: #4696e5;
    cursor: pointer;}
 #evntDtls .evntdesc p .deleteon{
    color: white;
    border-radius: 3px;
    padding: 1px 6px;
    border: 1px solid red;
    background: red;
    cursor: pointer;}
.desc-text{
	color: #000000;
    font-family: monospace;
    padding: 5px 0px 5px 5px;
}
.taskDetailBox
{
	background:#fff;
	height:max-content;
	padding-bottom:10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
   
}
.fc-view-container{border:1px solid #4696e5 !important;}.fc-unthemed td.fc-today{background: #c2ecff !important;}
.fc-unthemed td, .fc-unthemed th{border-color:#4696e5 !important;}
#updateEventModal .modal-body #csedtu,#desc{width:100% !important;}
.taskTitle{font-family:monospace;}
.input-group {
	width: 110px;
	margin-bottom: 0px;background-color:#000;
	
}
.input-group-addon{color:#fff;border: 0.05em solid black;
	background-color:#000;}
.pull-center {
	margin-left: auto;
	margin-right: auto;
}
.fc-toolbar.fc-header-toolbar{
	
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.fc .fc-toolbar>*>h2 { font-size: 18px;color: #795548 !important; margin-top: 10px;}
#leftHeader{color: #3F51B5 !important;border-bottom: 1px solid;}
#dailytask_table_wrapper button.dt-button{
    margin-left: 0.5em !important;
    margin-bottom: 0em !important;
    padding: 0.0em 0em !important;
    border: 1px solid #fff !important;
    background-color: #ffffff !important;
        font-size: 1em !important;
    line-height: 0em !important;
}

@media (max-width: 767px) {
  .pull-center {
    float: right;
  }
}
.dtask-right{background-color:#ffffff;/*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important; padding: 10px;*/}
.loader {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loader:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}